:root {
  --left: 0; --top: 0; --width: 0; --height: 0;
}

@font-face { font-family: Roboto; font-weight: 400;
    src: url(font/roboto-v49-latin-regular.woff2); }
body { font-family: "Roboto", sans-serif; font-optical-sizing: auto; font-weight: 400;
    font-style: normal; font-variation-settings: "wdth" 100; 
    font-size: 0.85rem; line-height: 1.33; }
table { border-spacing: 0; td { text-align: center; vertical-align: middle; padding: 0 0.15em; }}
table.calendar { width: 100%; }
table.day { margin: 0 auto; border: none;
    td { text-align: center; line-height: 0.9;
        &.weekday { font-size: 1.2em; }
        &.red { color: red }
    }
}
div.button { background-repeat: no-repeat; background-position: center; width: 2em; height: 2em;
    border: 1px solid #888; border-radius: 0.2em;
    cursor: pointer;
    &:hover { background-color: #eee; }
    &:active { background-color: #ccc; }
    &#left {
        background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M14,0 v8 h8 v8 h-8 v8 l-12,-12z'/></svg>");
    }
    &#right {
        background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M10,0 l12,12 -12,12 v-8 h-8 v-8 h8z'/></svg>");
    }
    &#close {
        background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M6,4 l6,6 6,-6 2,2 -6,6 6,6 -2,2 -6,-6 -6,6 -2,-2 6,-6 -6,-6z'/></svg>");
    }
}
td.daycell, td.cell { border-left: 0.01em solid #ccc; border-right: 0.01em solid #ccc; }
td.today { background-color: #ffffaa; }
td.side { width: 2em; vertical-align: top; }
td.cell {
    height: 1.8em;
    border-top: solid 0.01em #eee; border-bottom: solid 0.01em #eee;
    cursor: url("data:image/svg+xml;utf8,<svg width='18' height='18' xmlns='http://www.w3.org/2000/svg'><path fill='black' d='M6,0h6v6h6v6h-6v6h-6v-6h-6v-6h6z'/><path fill='white' d='M7,1h4v6h6v4h-6v6h-4v-6h-6v-4h6z'/></svg>") 9 9, auto;
    &:hover { border: solid 0.01em grey; }
    &:active { border: solid 0.01em black; }
}
td.time { text-align: right; vertical-align: top; font-size: 0.8em; line-height: 0; }
div.c1 { box-shadow: inset 0 0 0 0.1em #cc0000; background-color: #ffcccc; }
div.c2 { box-shadow: inset 0 0 0 0.1em #cc6600; background-color: #ffe5cc; }
div.c3 { box-shadow: inset 0 0 0 0.1em #cccc00; background-color: #ffffcc; }
div.c4 { box-shadow: inset 0 0 0 0.1em #66cc00; background-color: #e5ffcc; }
div.c5 { box-shadow: inset 0 0 0 0.1em #00cc00; background-color: #ccffcc; }
div.c6 { box-shadow: inset 0 0 0 0.1em #00cccc; background-color: #ccffff; }
div.c7 { box-shadow: inset 0 0 0 0.1em #0066cc; background-color: #cce5ff; }
div.c8 { box-shadow: inset 0 0 0 0.1em #6600cc; background-color: #e5ccff; }
div.c9 { box-shadow: inset 0 0 0 0.1em #cc00cc; background-color: #ffccff; }

div.event { position: absolute; border-radius: 0.4em; overflow: hidden; cursor: pointer;
    &.openCell { animation-name: openCell; animation-duration: 0.1s;
        animation-fill-mode: forwards; z-index: 20; cursor: auto; }
    &.closeCell { animation-name: closeCell; animation-duration: 0.1s;
        animation-fill-mode: forwards; z-index: 20; cursor: auto; }
    div.desc { font-size: 0.8em; margin: 0.3em 0.6em; overflow: hidden; }
    div.container { width: 100%; height: 100%;
        display: flex; flex-direction: column;
        div.r1 { height: 2.5em; display: flex; justify-content: right;
            align-items: center; margin: 1em 1em 1em 0; }
/*        div#close { width: 2em; height: 2em; cursor: pointer;
            background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M4,0 l8,8 8,-8 4,4 -8,8 8,8 -4,4 -8,-8 -8,8 -4,-4 8,-8 -8,-8z'/></svg>");
        } */
        div.r2 { height: 100%; display: flex; justify-content: center; align-items: center; }
    }
}
@keyframes openCell {
    to { left: 10vw; top: 10vh; width: 80vw; height: 80vh; border-radius: 2vh; }
}
@keyframes closeCell {
    from { left: 10vw; top: 10vh; width: 80vw; height: 80vh; border-radius: 2vh; }
    to { left: var(--left); top: var(--top); width: var(--width); height: var(--height);
        border-radius: 0.4em; }
}

div.screener { position: absolute; left: 0px; top: 0px; width: 0; height: 0;
    z-index: 10; background-color: black;
    &.block { width: 100vw; height: 100vh; animation-name: openScreener;
        animation-duration: 0.1s; animation-fill-mode: forwards; }
    &.unblock { width: 100vw; height: 100vh; animation-name: closeScreener;
        animation-duration: 0.1s; animation-fill-mode: forwards; }
    }
@keyframes openScreener { from { opacity: 0; } to { opacity: 0.5; } }
@keyframes closeScreener { from { opacity: 0.5; } to { opacity: 0; } }

.TimeSelect {
    border: 0.15em solid orange; border-radius: 0.4em; padding: 0.2em;
    .button { width: 0.6em; margin: 0.05em 0 0.05em 0.2em; cursor: pointer; opacity: 0.2;
        &:hover { opacity: 0.5; } &:active { opacity: 1; } }
    .am { font-variant: small-caps; display: inline-block; width: 1.1em; }
    div { vertical-align: top; }
}

.NumSelect {
    border: 0.15em solid orange; border-radius: 0.4em; padding: 0.2em;
    .button { width: 0.6em; margin: 0.05em 0 0.05em 0.2em; cursor: pointer; opacity: 0.2;
        &:hover { opacity: 0.5; } &:active { opacity: 1; } }
    div { vertical-align: top; }
}

span.NumberInput { cursor: pointer;
    &:focus { background-color: #ccc; outline: none; } 
}
