div.colorbox {
    display: inline-block; width: 1.5em; height: 1.5em;
    border-radius: 0.3em; cursor: pointer;
}
div.colorselect {
    position: absolute; background-color: white;
    border: 0.05em solid black; border-radius: 0.3em; 
    padding: 0.5em; display: grid; grid-template-columns: 1fr 1fr 1fr;
    div { display: inline-block; width: 1.5em; height: 1.5em; margin: 0.1em;
        border-radius: 0.3em; cursor: pointer; }
}
div.field { max-width: calc(100vw - 10em); text-overflow: clip; }