@font-face { font-family: Roboto; font-weight: 400;
    src: url(font/roboto-v49-latin-regular.woff2); }
body { font-family: "Roboto", sans-serif; font-optical-sizing: auto; font-weight: 400;
    font-style: normal; font-variation-settings: "wdth" 100; 
    font-size: 0.85rem; line-height: 1.33; }
