div.icon {
    background-repeat: no-repeat; background-position: center;
    &.left {
        background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M14,0 v8 h8 v8 h-8 v8 l-12,-12z'/></svg>");
    }
    &#right {
        background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M10,0 l12,12 -12,12 v-8 h-8 v-8 h8z'/></svg>");
    }
    &#close {
        background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M6,4 l6,6 6,-6 2,2 -6,6 6,6 -2,2 -6,-6 -6,6 -2,-2 6,-6 -6,-6z'/></svg>");
    }
}