div._loader_ {
    position: fixed; left: 0; top: 0; right: 0; bottom: 0;
    background-color: #ffffffdd;
    display: flex; align-items: center; justify-content: center; z-index: 100;
    &.hide { display: none; } 
    div { width: 5em; display: inline-block; }
}
